.filter-bar {
  overflow-x: scroll;
}

.filter-bar::-webkit-scrollbar {
  display: none;
}

.filter-bar::-moz-scrollbar {
  display: none;
}

.filter-bar .single-item {
  color: #696969;
  font-weight: 200;
}

.filter-bar .single-item.active {
  color: #000;
  font-weight: 700;
  border-bottom: 2px solid #000;
}

.filter-bar .single-item .item-text p {
  white-space: nowrap;
}

.filter-bar .single-item .item-icon {
  font-size: 23px;
}

/* Bottom Navigation */

.bottom-nav {
  background: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.bottom-nav .icon {
  font-size: 22px;
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
}

.bottom-nav .single-nav-link.active {
  font-weight: 700;
  color: #000;
}

.bottom-nav .single-nav-link.active .icon {
  color: #ce0947;
}
